*.loa
*.log
*.lot
*.lof
*.aux
*.out
*.toc
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml
*.thm
*.gnuplot
*.synctex.gz
*.synctex.gz(busy)
*.auxlock
.tm_properties
cv-blx.bib
bck
bug
Jean-Sébastien Gosselin-1.pdf
